{% load static %}
<nav class="navbar navbar-expand-lg fixed-top" id="main-navbar">
    <div class="container">

        <a class="navbar-brand pr-5" style="border-right: 1px solid #efefef;" href="{% url "posts:feed" %}">
            <img src="{% static "img/instagram.png" %}" height="35" class="d-inline-block align-top"/>
        </a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
            <a href="{% url "users:detail" request.user.username %}">
                {% if request.user.profile.picture %}
                <div
                  class="container rounded-circle"
                  style="width: 40px;
                      height: 40px;
                      background-image: url('{{request.user.profile.picture.url}}');
                      background-size: cover;"
                ></div>
                {% else %}
                <img
                  src="{% static 'img/default-profile.png' %}"
                  class="rounded-circle"
                  width="30"
                  alt="Default profile picture"
                />
                {% endif %}
                    </a>
                <li class="nav-item nav-icon">
                    <a href="{% url "posts:create" %}">
                        <i >➕</i>
                    </a>
                </li>

                <li class="nav-item nav-icon">
                    <a href="{% url "users:logout" %}">
                        <i >➡️</i>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>